header{
    background-color:rgb(181, 169, 223);
    color:black;
    text-align:center;
    max-width:800px;
    margin: 0 auto;
    padding:16px;
    border: 5px solid rgb(153, 134, 219);
}

main{
    background-color: white;
    color: black;
    margin: 0 auto;
    padding:16px;

    display: flex;
}

article{
    display:flex;
    border: 1px solid blue;
    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width:140px;
    height:140px;
}

.artigo-autor{
    font-weight: bold;
}